body{
    margin:auto ;
}
#header{
    height:60px;
    background-color:#d1a292;
}

#header> #icon{
    font-size: 13px;
    color: #13648c;
    margin-left: 1%;
    margin-top: 0%;
    position:absolute;
}

#social{
    height:60px;
    width:200px;
    float: right;
    margin-right: 1%;
}
.slogo{
    height:50px;
    width:50px
}
.logoyt{
    width:80px
}

a{
    text-decoration: none;
}

.main{

}

.tileImage{
    height: 600px;
    width:48%;
    float: left;
}



.tileContent{
    height: 600px;
    width:50%;
    margin-left: 2%;
    float: left;
}

.imageClass > img{
    height: 500px;
    width:95%;
    margin-left: 3%;
    margin-top: 3%;
}


#cfeedback{
    margin-left:3%;
    color:green
}

.icons{
    display: inline-block;
    margin-left:2%
}

#stock{
    font-size: 30px;
    color:green
}

.button{
    height:48px;
    width:250px;
    font-size:20px;
}
#Atoc{
    background-color:green
}